/* regra reset */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;    
}

html, body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    background: rgb(36, 13, 122);
}

.profile{
    text-align: center;
    margin-top: 20px;
}

.avatar{
    width: 100px;
    border-radius: 50px ;
    border: 2px solid white;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;    
    margin-bottom: 2px;
}   

h2{
    margin-top: 2px;
    font-weight: bold;
    font-size: 16px;
}

.links-list{
    list-style: none;
    width: 100%;
    margin-top:30px;
}

.links-list li{
    margin: 10px 25%;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    color:rgb(54,77,204);
    font-weight: bold;
}

.links-list li img{
    width: 33px;
}

.links-list li a {
    padding: 15px 20px;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.links-list li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}